<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karakal.dao.mapper.LoginMapper">
  <resultMap id="BaseResultMap" type="com.karakal.entity.Login">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="login_id" jdbcType="INTEGER" property="loginId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="cdate" jdbcType="DATE" property="cdate" />
  </resultMap>
</mapper>