<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.karakal.dao.mapper.MaterialtypeMapper" >
  <resultMap id="BaseResultMap" type="com.karakal.entity.Materialtype" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="MATERIALTYPE_ID" property="materialtypeId" jdbcType="VARCHAR" />
    <result column="MATERIAL_TYPE_NAME" property="materialTypeName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>