<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.karakal.dao.mapper.PhoneMapper" >
  <resultMap id="BaseResultMap" type="com.karakal.entity.Phone" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="PHONE_ID" property="phoneId" jdbcType="VARCHAR" />
    <result column="CPHONE" property="cphone" jdbcType="VARCHAR" />
    <result column="MAIN_LINE" property="mainLine" jdbcType="VARCHAR" />
    <result column="BACK_LINE" property="backLine" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
</mapper>